n8n-workflow-templates/n8n_Workflow_Template__Records.json
{
  "name": "Automod Racing Template - Records",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=bffdfc41-8e2d-426c-b38f-1260327b29fd",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ],
      "id": "39cc24c8-a93c-4983-992e-9dcc3f7ddeb3",
      "name": "Webhook",
      "webhookId": "bffdfc41-8e2d-426c-b38f-1260327b29fd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "495dcdb2-e30a-49e0-aa37-cdae33ded868",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "call_analyzed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0f576ab7-ee13-49d9-b152-1443033af229",
              "leftValue": "={{ $json.body.call.call_type }}",
              "rightValue": "phone_call",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "67032a20-7042-4ab7-821e-8990660403ff",
              "leftValue": "={{ $json.body.call.duration_ms / 1000 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -224,
        208
      ],
      "id": "62fc732b-9e9a-4faf-a564-0b0e0080e6f8",
      "name": "Filter"
    },
    {
      "parameters": {
        "tableId": "all_client_calls",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "call_id",
              "fieldValue": "={{ $json.body.call.call_id }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.body.call.from_number }}"
            },
            {
              "fieldId": "assistant_id",
              "fieldValue": "={{ $json.body.call.agent_id }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.body.call.call_analysis.call_summary }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.body.call.transcript }}"
            },
            {
              "fieldId": "recording_url",
              "fieldValue": "={{ $json.body.call.recording_url }}"
            },
            {
              "fieldId": "ai_cost",
              "fieldValue": "={{ $json.body.call.call_cost.combined_cost / 100 }}"
            },
            {
              "fieldId": "telephony_cost",
              "fieldValue": "=0"
            },
            {
              "fieldId": "total_cost",
              "fieldValue": "={{ $json.body.call.call_cost.combined_cost / 100 }}"
            },
            {
              "fieldId": "total_cost_client",
              "fieldValue": "={{ $json.body.call.duration_ms / 60000 * 0.45}}"
            },
            {
              "fieldId": "call_duration_s",
              "fieldValue": "={{ $json.body.call.duration_ms / 1000 }}"
            },
            {
              "fieldId": "call_duration_min",
              "fieldValue": "={{ $json.body.call.duration_ms / 60000 }}"
            },
            {
              "fieldId": "user_sentiment",
              "fieldValue": "={{ $json.body.call.call_analysis.user_sentiment }}"
            },
            {
              "fieldId": "latency",
              "fieldValue": "={{ $json.body.call.latency.llm.p50 + $json.body.call.latency.tts.p50 }}"
            },
            {
              "fieldId": "ended_reason",
              "fieldValue": "={{ $json.body.call.disconnection_reason }}"
            },
            {
              "fieldId": "call_direction",
              "fieldValue": "={{ $json.body.call.direction }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "automod-racing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "07b95b98-e40b-41b4-8647-4ea51a56e6fc",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "bT9E8cRE5l43ZnjK",
          "name": "AI_Platform_DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96ac75bc-0353-4caf-a775-5d3ee6cebf53",
              "name": "tools_transcript",
              "value": "={{ $('Filter').item.json.body.call.transcript_with_tool_calls }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "5200652b-c213-4aa5-89f5-ceb4f03db3b6",
      "name": "Extract Transcript w/ Tool Calls"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tools_transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        416
      ],
      "id": "f4424f29-9daf-464c-89ee-3558c1ac9351",
      "name": "Split Segments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6ea6787-bb4c-4c2c-919f-44b8e5d44611",
              "name": "allRoles",
              "value": "={{ $input.all().map(item => item.json.role).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        416
      ],
      "id": "c1cf38a2-d001-41d0-b39b-01ddc911d3e3",
      "name": "Join 'Roles'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "e60cb429-367c-44b0-9061-0485762af809",
      "name": "Limit to 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07d6d2d8-7ae1-48e7-8b64-279011d0be6b",
              "leftValue": "={{ $json.allRoles }}",
              "rightValue": "tool_call_result",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        416
      ],
      "id": "45a9f968-826d-486e-803b-9f33ceefc89a",
      "name": "Tool Call Filter",
      "notesInFlow": true,
      "notes": "Only will pass if no tool calls were made."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Transcript w/ Tool Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript w/ Tool Calls": {
      "main": [
        [
          {
            "node": "Split Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Segments": {
      "main": [
        [
          {
            "node": "Join 'Roles'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join 'Roles'": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Tool Call Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5919bc56-6152-478d-868c-fe3303f0275b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72fe57c1f0146117aef4ff483e6126a8d1cec7e6a65262061e6d0a5dc6fb980b"
  },
  "id": "qTn4S1s7D3U181LhALxyZ",
  "tags": []
}